<div class="wrapper">
  <%= render "layouts/aside" %>
  <div class= wrapper_aside%>
  <h1 class="wrapper_main_h1"> ようこそ！<br>SUMMER アプリへ</h1>
  <p class="wrapper_main_p">ご訪問いただき　ありがとうございます。</p>
  </div>
</div>
