<footer class="footer">
  <div class="footer-nav">

  </div>
  <div class="footer-nav">
   <%=link_to "利用規約", "#" %>
  </div>
  <div class="footer-nav">
   <%= link_to "プライバシーポリシー", "#" %>
  </div>
  <div class="footer-nav">
   <%= link_to "お問合せ", "#" %>
  </div>
  <div class="footer-nav">

  </div>
</footer>
