<header class= "header">
  <div class="header_left">
    header_left
  </div>
  <div class="header_middle">
    header_middle
  </div>
  <div class="header_right">
    header_right
  </div>
</header>
