<header class= "header">
  <div class="header-left">
    <%= link_to image_tag("himawari.png",alt:"logo", width:"80px", class:"header_left_logo"), root_path %>
    <%# <%= link_to "SUMMER APP", alt:"title", class: "header-left-title"  %>
  </div>
  <div class="header_middle">
    header_middle
  </div>
  <div class="header_right">
    <%= link_to "新規登録", new_user_path, class:"header_right_btn" %>
  </div>
</header>
